<div class="list-of-users">
	<% @users.each do |user| %>
		<% if user.id == session[:id] %>
			<% next %>
		<% else %>
			<% if current_user.friend_requests.exists?(friend_id: user.id) %>
				<p> You have sent a request to <%= user.name %></p>
			<% elsif user.friends.include? current_user%>
				 You are friends with <%= user.name %>
				<p><%= link_to "Remove Friend", friendship_path(user), method: :delete%></p>
			<% else %>
				<%= user.name %>
				<p><%= link_to "Add Friend", friend_requests_path(user: user, friend_id: user.id), method: :post %></p>
            <% end %>
		<% end %>
	<% end %>
</div>