<h1>Welcome <%= @user.name %> </h1>
<div class="form">
	<%= form_for(Post.new) do |f| %>

		<%= f.text_area :body %>

		<%= f.submit value: "Update", class: "btn btn-primary update" %>
	<% end %>
</div>


<div class="user-posts">
	<% if @posts %>
		<% @posts.each do |post| %>
			<ul>
				<%= post.user.name %>
				<%= link_to post.body, post_path(post) %>
				
			</ul>
		<% end %>
	<% end %>
</div>

<div class="user-friends">
	<%= link_to "Here are some potential friends", users_path%>
</div>