<h1 class="welcome-sign">Welcome <%= @user.name %> </h1>

<div class="container">
	<div class="grouping">
		<div class="form">
			<%= form_for(Post.new) do |f| %>

				<%= f.text_area :body %>

				<%= f.submit value: "Update", class: "btn btn-primary update" %>
			<% end %>
		</div>


		<div class="user-posts">

			<% if @friends %>
				<% @friends.each do |friend| %>
					<% friend.user.posts.each do |post| %>
						<% @posts.each do |my_post|%>
							<ul>
								<%= my_post.user.name %>
								<p><%= link_to my_post.body, post_path(my_post) %></p>
								<%= post.user.name %>
								<p><%= link_to post.body, post_path(post) %></p>
								
							</ul>
						<% end %>
					<% end %>
				<% end %>
			<% end %>

		</div>
	</div>

	<div class="user-friends">
		<%= link_to "Here are some potential friends", users_path%>
	</div>

	<div class="advertise">
		<p>im an advertisment</p>
	</div>
</div>


<%if @incoming %>
	<% @incoming.each do |incoming_friend_request| %>
		<% if incoming_friend_request.user != nil %>
			<%= incoming_friend_request.user.name %> 
			<%= link_to "accept", friend_request_path(id: incoming_friend_request.id),method: "put" %>
			<%= link_to "decline", friend_request_path(id: incoming_friend_request.id),method: :delete %>
		<% end %>
	<% end %>
<% end %>
