<h1><%= @post.body %></h1>


<%= form_for [@post, @comment] do |f| %>

	<%= f.text_field :body %>

	<%= f.submit value: "Comment" %>
<% end %>

<div class="comments">
	<% if @comments %>
		<% @comments.each do |comment| %>
		<%= comment.user.name%>:
		<%= comment.body %>
		<% end %>
	<%  end %>
</div>