<h1><%= @post.body %></h1>


<%= form_for [@post, @comment] do |f| %>

	<%= f.text_field :body %>

	<%= f.submit value: "Comment" %>
<% end %>


<% if @comments %>
	<% @comments.each do |comment| %>
	<%= comment.body %>
	<% end %>
<%  end %>