<!DOCTYPE html>
<html>
<head>
  <title>Clonebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<ul class='nav nav-pill'>
	<% if session[:id] == nil %>
	  	<li class="nav navbar-right btn"><%= link_to "Sign in", new_session_path%></li>
	<% end %>
	<% if session[:id] %>
		<li class="nav navbar-right btn"><%= link_to "Sign out", logout_path, method: :delete, data: {confirm: 'Are you sure you want to log out?'} %></li>
		<li class="nav navbar-left"><%= link_to "Home", root_path %></li>
	<% end %>
</ul>

<%= yield %>

</body>
</html>
